.header {
  display: flex;
  background-color: white;
  padding: 14px 22px;
  column-gap: 45px;
  align-items: center;
  height: 80px;

  &__title {
    font-size: 18px;
    color: rgba(0, 0, 0, 0.85);
    text-decoration: none;
    margin-right: auto;
  }

  &__signin {
    font-size: 18px;
    text-decoration: none;
    color: rgba(0, 0, 0, 0.85);
  }

  &__signup {
    font-size: 18px;
    text-decoration: none;
    color: rgba(82, 196, 26, 1);
    border: 1px solid;
    border-radius: 5px;
    padding: 10px;
  }

  &__create {
    font-size: 16px;
    text-decoration: none;
    color: rgba(82, 196, 26, 1);
    border: 1px solid;
    border-radius: 5px;
    padding: 5px 10px;
  }

  &__user {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  &__link {
    text-decoration: none;
  }

  &__username {
    font-size: 18px;
    color: rgba(0, 0, 0, 0.85);
    padding-right: 10px;
  }

  &__avatar {
    display: flex;
    width: 46px;
    height: 46px;
    border-radius: 25px;
  }

  &__logout {
    color: #262626;
    font-size: 18px;
    border: 1px solid;
    border-radius: 5px;
    padding: 9px 18px;
    text-decoration: none;
    background-color: white;
  }
}
